#services:
#	-
#		class: Hyvor\Internal\PHPStan\BillingGetSubscriptionReturnTypeExtension
#		tags:
#			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

rules:
    - Hyvor\Internal\PHPStan\LicenseIntAndBoolOnlyRule
